{% extends 'base.html' %}

{% block materials%}
    {% comment %} <video width='400' controls controlsList="nodownload">
        <source src='{{ MEDIA_URL }}{{ video }}' type='video/mp4'>
        Your browser does not support the video tag.
    </video> {% endcomment %}


    
{% endblock   %}

{% block nav_hor %}

<p> </p>

    <ul class="horbar">
       
    {% for subject, course in lessons.items %}
        <li> {{subject}} </li>
        
        <ul class="horbar">
            {% for course, lessons in course.items %}
                <li> {{course}} </li>

                <ul class="horbar">
                    {% for lesson in lessons %}
                        <li> {{lesson}} </li>
                    {%endfor%}
                </ul>
            {%endfor%}
       
        </ul>
    {%endfor%}

    </ul>


    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
    </script>
  
  
  
  {{ math }}

  
  
{% endblock%}
