{% extends 'MAIN/base.html' %}

{% block head %}
<ul class="navbar">
    <li class="navbar" ><a href="#home" class="active">Home</a></li>
    <li  class="navbar"><a href="#news">News</a></li>
    <li  class="navbar"><a href="#contact">Contact</a></li>
    <li  class="navbar"><a href="#about">About</a></li>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>
    
          {% else %}
    
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
    
          {% endif %}
        </ul>
      </div>
</ul>

{% endblock %}

{% block materials%}
    {% comment %} <video width='400' controls controlsList="nodownload">
        <source src='{{ MEDIA_URL }}{{ video }}' type='video/mp4'>
        Your browser does not support the video tag.
    </video> {% endcomment %}


    
{% endblock   %}

{% block nav_hor %}

<p> </p>

    <ul class="horbar">
       
    {% for subject, course in test.items %}
        <li> {{subject}} </li>
        
        <ul class="horbar">
            {% for course, lessons in course.items %}
                <li> {{course}} </li>

                <ul class="horbar">
                    {% for lesson in lessons %}
                        <li> {{lesson}} </li>
                    {%endfor%}
                </ul>
            {%endfor%}
       
        </ul>
    {%endfor%}

    </ul>


    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
    </script>
  
  
  
  {% comment %} {{ math }} {% endcomment %}

  <form action="/action_page.php">
    
        {% for question, answers in test_questions.items %}
            <p>{{question}}:</p>
            {% for answer in answers %}
                <input type="radio" id={{answer}} name={{question}} value={{answer}}>
                <label for={{answer}}>{{answer}}</label><br>
            {% endfor %}
        {% endfor %}
        <br>  
    
        
    <input type="submit" value="Submit">
  </form>

  
  {% comment %} {{test_questions}} {% endcomment %}
  
{% endblock%}
