{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap --> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- VUE --> 
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/vue"></script> {% endcomment %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS --> 
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    <title>Материалы для обучения</title>

    <!-- LATEX --> 
    {% comment %} <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <script>
        MathJax = {
          tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>     
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script> {% endcomment %}

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script>
      MathJax = {
        tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script" async></script>

    {% block title %}
    {% endblock %}

</head>
<body>

    

        {% block register_login %}
        {% endblock %}

    {% if user.is_authenticated %}

    <div class="container-fluid">
        <div class="row">
            {% block head %}
            {% endblock %}
        </div>
        
        <div class="row">
                <div class="col-sm-4">

                    {% block nav_hor %}
                    {% endblock%}  
                </div>


                <div class="col-sm-8">

                    {% block materials %}
                    {% endblock %}

                    {% block tests %}
                    {% endblock %}
                </div>
            </div>
        </div>

       

        

    {% endif %}

</body>
</html>