{% extends "MAIN/base.html" %}


{% block register_login %} 
{% include 'MAIN/messages.html' %}

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1>Регистрация</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Регистрация</button>
	</form>
	<p class="text-center">Если у вас есть аккаунт, тогда перейдите <a href={% url 'main:login' %}>login</a> </p>
</div>

{% endblock %}