{% extends 'MAIN/base.html' %}

{% comment %} {% block title %}
    <h1>Quiz: {{ quiz.name }}</h1>
{% endblock %} {% endcomment %}

{% block nav %}
<ul class="navbar">
    <li class="navbar"><a>Здравствуйте {{user.username}}</a></li>
    <li class="navbar" ><a class="nav-link"href={% url "materials:base" %} >Материалы</a></li>
    <li  class="navbar"><a href={% url "quiz:base" %} class="active">Тесты</a></li>
    <li  class="navbar"><a href="#contact">Контакты</a></li>
    <li  class="navbar"><a href="#about">О нас</a></li>

   

    <li class="navbar navbar-right"><a class="nav-link" href={% url "main:logout" %}>Выйти</a></li>
</ul>
{% endblock %}



{% block nav_v %}
    <div class="container">
        <h1>Quizzes</h1>
        {% if quiz_list %}
            <ul>
            {% for quiz in quiz_list %}
                <li><a href="{% url 'quiz:display_quiz' quiz.id %}">{{ quiz.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No quizzes are available.</p>
        {% endif %}
    </div>
{% endblock %}

{% block tests %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <span hidden id="minutes"></span>   <span hidden>:</span>    <span hidden id="seconds"></span>

    {% comment %} <script type="text/javascript">
        var sec = 0;
        function pad (val) {return val > 9 ? val : "0" + val; }
        setInterval( function(){
            $("#seconds").html(pad(++sec%60));
            $("#minutes").html(pad(parseInt(sec/60,10)));
        }, 1000);
        console.log($("#seconds").text);
        console.log($("#minutes").text);
    </script> {% endcomment %}
    
    <section class="question">
    {% if question %}

        <form id="question-form" action="{% url 'quiz:grade_question' question.id  %}" method="post">
            {% csrf_token %}

            <fieldset class="form-group">
               
                <input type='hidden' name='seconds_post' id='seconds_post' value=''>
                <legend>{{ question.question_text_rus }}</legend>
                {% if question.freetextanswerrus %}
                <div class="form-group">
                    <label for="answer">
                        {% if question.freetextanswerrus.case_sensitive %}
                            {% comment %} Type your answer in (capitalization matters!): {% endcomment %}
                            Напишите ответ (заглавные буквы имеют значение)
                        {% else %}
                            {% comment %} Type your answer in (don't worry about capitalization): {% endcomment %}
                            Напишите ответ (заглавные буквы не имеют значение)
                        {% endif %}
                    </label>

                    <input type="text" name="answer" class="form-control">
                </div>
                {% else %}
                    {% for choice in question.multiplechoiceanswerrus.choices %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="answer" value="{{ choice }}">
                                {{ choice}}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </fieldset>
            <button type="submit" class="btn btn-primary">Check answers</button>
        </form>

        <div id="question-feedback" style="margin-top:16px">
        </div>


    {% else %}
    Sorry, that question doesn't exist in this quiz.
    {% endif %}
    </section>

    {% if next_question %}
        <div style="margin-top:12px; font-size:16px">
            <a href="{% url 'quiz:display_question' quiz.id next_question.id %}">→ Next question</a>
        </div>
    {% endif %}
    </div>

    <script>
        var sec = 0;
        function pad (val) {return val > 9 ? val : "0" + val; }
        var myInterval = setInterval( function(){
            $("#seconds").html(pad(++sec%60));
            document.getElementById("seconds_post").value = document.getElementById("seconds").textContent;
            $("#minutes").html(pad(parseInt(sec/60,10)));
        }, 1000);

        function myStopFunction() {
            clearInterval(myInterval);
        }
        

        const form = document.getElementById("question-form");
        form.addEventListener("submit", (e) => {
            
            
            e.preventDefault();
            
            fetch(form.action, {method:'post', body: new FormData(form)})
                .then((response) => response.text())
                .then(text => {
                    document.getElementById("question-feedback").innerHTML = text;
                    
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                });
            myStopFunction()
            $("input[name=answer]").prop('disabled', true);
            $(":input[type=submit]").prop('disabled', true);
        });

        
    </script>

    



{% endblock%}
