{% extends 'MAIN/base.html' %}

{% block title %}
    <h1>Quiz: {{ quiz.name }}</h1>
{% endblock %}

{% block head %}
    <ul class="navbar">
        <li class="navbar" ><a href="#home" class="active">Home</a></li>
        <li  class="navbar"><a href="#news">News</a></li>
        <li  class="navbar"><a href="#contact">Contact</a></li>
        <li  class="navbar"><a href="#about">About</a></li>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </ul>
{% endblock %}



{% block nav_hor %}
    <div class="container">
        <h1>Quizzes</h1>
        {% if quiz_list %}
            <ul>
            {% for quiz in quiz_list %}
                <li><a href="{% url 'quiz:display_quiz' quiz.id %}">{{ quiz.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No quizzes are available.</p>
        {% endif %}
    </div>
{% endblock %}

{% block tests %}
    <section class="question">
    {% if question %}
        <form id="question-form" action="{% url 'quiz:grade_question' question.id %}" method="post">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend>{{ question.question_text }}</legend>
                {% if question.freetextanswer %}
                <div class="form-group">
                    <label for="answer">
                        {% if question.freetextanswer.case_sensitive %}
                            Type your answer in (capitalization matters!):
                        {% else %}
                            Type your answer in (don't worry about capitalization):
                        {% endif %}
                    </label>

                    <input type="text" name="answer" class="form-control">
                </div>
                {% else %}
                    {% for choice in question.multiplechoiceanswer.choices %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="answer" value="{{ choice }}">
                                {{ choice}}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </fieldset>
            <button type="submit" class="btn btn-primary">Check answers</button>
        </form>

        <div id="question-feedback" style="margin-top:16px">
        </div>
    {% else %}
    Sorry, that question doesn't exist in this quiz.
    {% endif %}
    </section>

    {% if next_question %}
        <div style="margin-top:12px; font-size:16px">
            <a href="{% url 'quiz:display_question' quiz.id next_question.id %}">→ Next question</a>
        </div>
    {% endif %}
    </div>

    <script>
    const form = document.getElementById("question-form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch(form.action, {method:'post', body: new FormData(form)})
            .then((response) => response.text())
            .then(text => {
                document.getElementById("question-feedback").innerHTML = text;
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
            });
    });
    </script>



{% endblock%}
