{% extends 'MAIN/base.html' %}

{% block title %}
  <title>Quizzes</title>
{% endblock %}

{% block head %}

<ul class="navbar">
    <li class="navbar" ><a href="#home" class="active">Home</a></li>
    <li  class="navbar"><a href="#news">News</a></li>
    <li  class="navbar"><a href="#contact">Contact</a></li>
    <li  class="navbar"><a href="#about">About</a></li>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>
    
          {% else %}
    
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
    
          {% endif %}
        </ul>
      </div>
</ul>

{% endblock %}

{% block nav_hor %}

<div class="container">
    <h1>Quizzes</h1>
    {% if quiz_list %}
        <ul>
        {% for quiz in quiz_list %}
            <li><a href="{% url 'quiz:display_quiz' quiz.id %}">{{ quiz.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No quizzes are available.</p>
    {% endif %}
</div>

  
{% endblock%}

  
   
