{% extends 'MAIN/base.html' %}

{% block nav %}
<ul class="navbar">
    <li class="navbar"><a class="nav-link" href="#">Здравствуйте {{user.username}}</a></li>
    <li class="navbar" ><a href={% url "materials:base" %} class="active">Материалы</a></li>
    <li  class="navbar"><a href={% url "quiz:base" %}>Тесты</a></li>
    <li  class="navbar"><a href="#contact">Контакты</a></li>
    <li  class="navbar"><a href="#about">О нас</a></li>
   
    <li class="navbar"><a class="nav-link" href={% url "main:logout" %}>Выйти</a></li>
</ul>

{% endblock %}

{% block nav_v %}


    {% comment %} <ul class="horbar">
       
    {% for subject, course in lessons.items %}
        <li> {{subject}} </li>
        
        <ul class="horbar">
            {% for course, lessons in course.items %}
                <li> {{course}} </li>

                <ul class="horbar">
                    {% for lesson in lessons %}
                        <li> {{lesson}} </li>
                    {%endfor%}
                </ul>
            {%endfor%}
       
        </ul>
    {%endfor%}

    </ul> {% endcomment %}

    <div class="sidenav">

      {% for subject, course in lessons.items %}
        <button class="dropdown-btn"> {{subject}}
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
        
              {% for course, lessons in course.items %}
                <button class="dropdown-btn"> {{course}}
                  <i class="fa fa-caret-down"></i>
                </button>

                <div class="dropdown-container">
                        {% for lesson in lessons %}
                          <a href="#">{{lesson}}</a> 
                        {%endfor%}
                </div>
              {%endfor%}
                    
        </div>
            
      {%endfor%}
    </div>   
  <script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
    </script>
    
  
{% endblock%}


{% block materials %}
    {% comment %} <video width='400' controls controlsList="nodownload">
        <source src='{{ MEDIA_URL }}{{ video }}' type='video/mp4'>
        Your browser does not support the video tag.
    </video> {% endcomment %}



    

<div id="app">
  <div>[[ message ]]</div>
</div>

{% comment %} {{ username|json_script:"username" }} {% endcomment %}

<script>
{% comment %} var username = JSON.parse(document.getElementById('username').textContent); {% endcomment %}

  const { createApp } = Vue

  const app = createApp({
    data() {
      return {
        message: 'When \\(a \\ne 0\\), there are two solutions to \\(ax^2 + bx + c = 0\\) and they are\\[x = {-b \\pm \\sqrt{b^2-4ac} \\over 2a}.\\]'
      }
    }
  })
  
  // Delimiters changed to ES6 template string style
  app.config.compilerOptions.delimiters = ['[[', ']]']
  app.mount('#app')

</script>

{% endblock   %}



{% comment %} When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are\[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\ {% endcomment %}